body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.carousel {
    display: flex;
    overflow: hidden;
    margin: 20px auto;
}

.carousel img {
    width: 50%;
    height: 200px;
    margin-right: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.container {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-around; /* ou space-between */
    align-items: center;
}

.container div {
    text-align: justify;
    padding: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}